.infotable, .infotable th, .infotable td
{
    border-collapse: collapse;
    border: 1px solid #839E99;
    background: #f1f8ee;
    font: 22px Georgia, "Times New Roman", Times, serif;
    color: #033;
    margin:auto;
    width:1000px;
    padding:10px;

}

li{
 display:inline;
 padding:5px;
 padding-left:80px;

}

ul{
   list-style-type: none;
    margin:0;
    padding:20px;
}

input[type=text] {
    width:20%;
}
.header {
  background-color:blue;
  padding: 30px 40px;
  color: white;
  text-align: center;
}
.addBtn {
  padding: 10px;
  width: 25%;
  background: #d9d9d9;
  color: #555;
  float: left;
  text-align: center;
  font-size: 16px;
  cursor: pointer;
  transition: 0.3s;
}

.addBtn:hover {
  background-color: #bbb;
}